corpus/
venv/
chatbot/brain
chatbot/brain-journal
chatbot/cobe.brain
chatbot/cobe.brain-journal
chatbot/cobe2
chatbot/cobe2-journal
secrets.json
__pycache__/
.idea/
chatbot/cobe2.brain
chatbot/cobe2.brain-journal
chatbot/cobe_movie.brain
chatbot/cobe_movie.brain-journal
chatbot/cobe_movie_2.brain
chatbot/cobe_movie_2.brain-journal
sudo/users.json
img.png
