corpus/
venv/
brain
brain-journal
cobe.brain
cobe.brain-journal
cobe2
cobe2-journal
secrets.json
__pycache__/
.idea/
cobe2.brain
cobe2.brain-journal
cobe_movie.brain
cobe_movie.brain-journal
cobe_movie_2.brain
cobe_movie_2.brain-journal
users.json
